
body {
	background: #fff;
}

.mint-btn--primary:visited {
	color: #fff;
}

p {
	opacity: .5;
}

.main {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	direction:rtl
	font-family: 'Tajawal', sans-serif;
}

.container {
	width: 560px;
}

.header {
	text-align: center;
}
.header-logo img {
	width: 64px;
	height: 64px;
}
.header-title {
	font-size: var(--headline-h2);
}
